.main-visual {
    width: 100vw;
    height: 55rem;
    overflow: hidden;
    position: relative;
    background-size: cover;

    li img {
        width: 100%;
        position: absolute;
    }
    .grayscale img {
        filter: grayscale(100%);
    }


    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }
    // 画面サイズによって、キービジュアルの高さを設定
    @media screen and (min-width: 768px) {
        height: 50rem;

        .pc {
            display: block !important;
        }

        .sp {
            display: none !important;
        }
    }
    @media screen and (min-width: 1024px) {
        height: 70rem;
    }
    @media screen and (min-width: 1440px) {
        height: 80rem;
    }
    @media screen and (min-width: 1920px) {
        height: 100rem;
    }
    @media screen and (min-width: 2560px) {
        height: 130rem;
    }

    .main-logo {
        position: absolute;
        // 50%だとアドレスバーが引っ込む祭崩れるため
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
        img {
            width: 5rem;
        }
        @include query(1024) {
            top: 50%;
            img {
                width: 7rem;
            }
        }
    }
    // scrolldown icon
    #scrolldown {
        bottom: 5rem;
        height: 10rem;
        margin-left: -5rem;
        position: absolute;
        left: 50%;
        text-align: center;
        width: 10rem;
        z-index: 100;
    }

    #scrolldown p {
        font: 1rem 'Avenir',sans-serif;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: scroll;
        color: #fff;
    }

    #scrolldown > p {
        text-transform: uppercase;
        text-indent: 0.3rem;
    }

    .mouse {
        border: 0.2rem solid #fff;
        border-radius: 1.3rem;
        display: block;
        height: 4.6rem;
        left: 50%;
        margin: 1rem 0 0 -1.3rem;
        position: absolute;
        width: 2.6rem;
    }

    .mouse span {
        display: block;
        font-size: 1.5em;
        margin: 0.6rem auto;
    }
    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }

        100% {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}
//concept

.concept {
    .message-wrapper {
        // background-color: #EAEAEA;
        .heading-primary {
                margin: 0 2%;
                font-size: 2rem;
                line-height: 3rem;
                @include query(1024) {
                // height: 40rem;
                font-size: 3rem;
                line-height: 5rem;
            }
        }

    }

    // .message-text {
    //     -webkit-writing-mode: vertical-rl;
    //     -ms-writing-mode: tb-rl;
    //     writing-mode: vertical-rl;
    //     margin: 0 auto;
    //     line-height: 7rem;
    //     font-size: 1.4rem;
    //     // padding: 1rem 15rem 2rem;
    //     margin-bottom: 5rem;
    //     height: 35rem;
    //     // border: solid 0.1rem #333;
    //     @include query(1024) {
    //     height: 45rem;
    //     font-size: 2rem;
    // }
    // }

    &-photo {
        margin: 0.5rem;

        img {
            width: 25rem;
            @include query(1024) {
                width: 40rem;
                margin: 1rem;
            }
        }
    }

    .diamond {
        color: #7BA879;
    }
    .mark{
        width: 1.5rem;
        @include query(1024) {
            vertical-align: bottom;
            width: 2rem;
        }
    }
}
// スマホ、タブレット
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .featureLeft {
        &-wrapper {
            //画像を含む高さを取得するためラッパーで囲む
            position: relative;
        }

        &-noArea {
            //子要素のセンタリングのため親要素の領域を設定
            width: 20%;
            position: absolute;
            float: left;
            top: 0;
            left: 0;
            right: 80%;
            bottom: 0;
        }

        &-no {
            position: absolute;
            // 縦書きのセンタリングに使用(x軸)
            width: 1rem;
            //縦書きのセンタリングに使用(x軸)
            line-height: 1rem;
            //縦書きのセンタリングに使用(y軸)
            text-align: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        }

        &-image {
            width: 80%;
            //右寄せ
            margin-left: auto;

            img {
                width: 100%;
            }
        }

        &-title {
            margin-left: 20%;
        }

        &-text {
            margin-left: 20%;
            margin-right: 3%;
            line-height: 2.5rem;
        }
    }

    .featureRight {
        &-wrapper {
            //画像を含む高さを取得するためラッパーで囲む
            position: relative;
        }

        &-noArea {
            //子要素のセンタリングのため親要素の領域を設定
            width: 20%;
            position: absolute;
            float: right;
            top: 0;
            left: 80%;
            right: 0;
            bottom: 0;
        }

        &-no {
            position: absolute;
            // 縦書きのセンタリングに使用(x軸)
            width: 1rem;
            //縦書きのセンタリングに使用(x軸)
            line-height: 1rem;
            //縦書きのセンタリングに使用(y軸)
            text-align: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;

        }

        &-image {
            width: 80%;
            //左寄せ
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        &-title {
            margin-right: 20%;
            text-align: right;
        }

        &-text {
            margin-left: 3%;
            margin-right: 20%;
            line-height: 2.5rem;
        }
    }
}
// PC(1024 <=)

.kodawari-wrapper {
    @extend %clearfix;
    @media screen and (min-width: 1024px) {
        margin: 12rem 2% 0;

        .featureLeft,
        .featureRight {
            margin: 0 4.1%;
            width: 25%;
            float: left;

            &-wrapper {}

            &-noArea {
                text-align: center;
                margin: 0 0 4rem;
            }

            &-no {
                font-size: 2rem;
            }

            &-image {
                img {
                    width: 100%;
                }
            }

            &-title {}

            &-text {
                line-height: 3rem;
            }
        }
    }
}
//menu

.menu {
    background-color: #EAEAEA;

    .menulist-photos {
        margin: 0 4%;
        @include query(1024) {
            width: 84vw;
            // max-width: 1200px;

            margin: 0 auto;
        }
    }

    .menulist-photo {
        width: 94vw;
        @include query(1024) {
            width: 40vw;
            // max-width: 550px;
            margin: 0 2vw;
        }

        img {
            width: 100%;
        }
    }
}

.menulist-wrapper {
    margin: 0 auto;
    @include query(768) {
        // max-width: 1250px;
    }
    @include query(1200) {
        margin: 0 10%;
    }
    @extend %clearfix;
}

.menulist {
    margin: 0 10%;
    @include query(768) {
        margin: 0 8%;
        width: 33%;
        float: left;
    @include query(1024) {
        margin: 0 0 0 12%;
    }
    @include query(1200) {
        width: 30%;
        margin: 0 1% 0 2%;
    }
    }

    &-head {
        width: 10rem;
        text-align: center;
        margin-bottom: 2rem;
        @include query(768) {
            width: 14rem;
            margin: 0 0 0.5rem;
        }
    }

    &-table {
        width: 90%;
        text-align: left;
        margin-left: 1rem;
        @include query(768) {
            width: 100%;
            margin: 0;
        }
    }

    &-row {
        //列の高さ
        height: 3.5rem;
        @include query(768) {
            height: 4rem;
        }
    }

    &-col1 {
        //カラム幅
        width: 20rem;
        @include query(768) {
            width: 20rem;
        }
        @include query(1024) {
            width: 30rem;
        }
        @include query(1200) {
            width: 35rem;
        }

        &-sub {
            font-size: 1rem;
            color: #999;
            // フォントの関係で微妙に左に出て見えるため、パディングで調整
            padding-left: 0.2rem;
        }
    }

    &-col2 {
        //カラム幅(全体:90% - col1:70% = col2)
        @include query(1024) {
            width: 6rem;
        }
    }
}
.coffee-mark {
    color: #A69320;
    margin-left: 1rem;

}

.service {
    // background-color: #EBEBEB;
    @extend %clearfix;
}

.card {
    background-color: #fff;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 0.1rem 0.8rem #999;
    @include query(1024) {
        width: 29%;
        margin-left: 2%;
        margin-right: 2%;
        height: 60rem;
        float: left;
    }
    @include query(1366) {
        height: 60rem;
    }
    @include query(1680) {
        height: 65rem;
    }
    @include query(1980) {
        height: 70rem;
    }
    @include query(2200) {
        height: 75rem;
    }

    &-image {
        overflow: hidden;

        img {
            width: 100%;
            transition-duration: 0.5s;

            &:hover {
                transform: scale(1.1);
                transition-duration: 0.5s;
            }
        }
    }

    &-discription {
        padding: 2rem;
    }

    &-text {
        line-height: 2rem;
        @include query(1024) {
            line-height: 2.5rem;
        }
    }
}
//information

.information {
    &-wrapper {
        background-color: #003A13;
        position: relative;
        height: 50rem;
        @include query(1024) {
            height: 60rem;
        }
        //
        // &::before {
        //     /* 透過した黒を重ねる */
        //     background-color: rgba(0,0,0,0.3);
        //     /* どの範囲に重ねるかを指定 */
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     content: ' ';
        // }
    }
    &-logo {
        text-align: center;
        margin-bottom: 5rem;
        img {
            width: 12rem;

        }
    }

    &-contents {
        width: 100%;
        margin: 0 auto;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        @include query(768) {
            width: 40rem;
        }
    }

    &-header {
        text-align: center;
    }

    &-dTitle {
        width: 40%;
        float: left;
        padding-right: 5rem;
        text-align: right;
    }

    &-dData {
        width: 60%;
        margin-left: 40%;
        margin-bottom: 2rem;
    }
}

.map {
    width: 100%;
    height: 30rem;
    @include query(1024) {
        height: 40rem;
    }
}
// slick

.slick-slide {
    outline: none;
}
// Dots

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 1rem;
    line-height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    content: '●';
    text-align: center;
    opacity: 0.25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #B93C3C;
}
